.policy
  %h1 Privacy Policy

  %h2 The gist:
  %p
    When you register for a Nafasi account you can be certain that we have implemented comprehensive security practices to ensure that only you and those people you provide authorized access to can see your account. We respect your right to privacy and feel it is important for you to know how we handle the information we receive from you via our website at www.nafasi.co (the "Site") and through our marketing application, tools and services offered on the Site (the “Service").

  %h2 Information you Provide
  %p 
    When you register for the Service, we ask for information such as your name, e-mail address and credit card information. If you sign up for the 30-day free trial account, you are not required to enter your credit card information until you decide to continue with a paid plan. We use a third-party intermediary to manage credit card processing. This intermediary is not permitted to store, retain, or use your billing information except for the sole purpose of credit card processing on our behalf. 

  %p 
    You can modify your account information at anytime by clicking on the Account Settings link in the global navigation bar at the top of the screen. Our practice is not to use such personal information for marketing purposes. We may use the collected personal information and other information we collect about your use of the Service to operate and make the Service available to you, for billing, identification and authentication, to contact you about your use of the Service, and to generally improve the content and functionality of the Service and Site. 

  %p 
    In order to provide you the Services, we may also transmit or share your personal information with our third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and other technology and services required to operate and maintain the Service, which may require that your personal information be transferred from your current location to our and our authorized vendors’ offices and servers. Although we own the software, code, databases, all rights to the Nafasi application, you retain all rights to your data.

  %h2 Cookies
  %p 
    When you visit the Site or use the Service, we use session "cookies" - a piece of information stored on your computer - to allow the Site or Service to uniquely identify your browser while you are logged in and to enable us to process your online transactions. Session cookies also help us confirm your identity and are required in order to use the Service. We also use persistent cookies that only we can read and use, to identify you as a Nafasi customer and make it easier for you to log into the Service. Users who disable their web browsers' ability to accept cookies will be able to browse our Site, but will not be able to access or take advantage of the Service. 

  %p 
    No Sharing of Personally Identifiable Information Except as described in this policy, we will not give, sell, rent, or loan any identifiable personal information to any third party. We may disclose such information to respond to subpoenas, court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims. We may also share such information if we believe it is necessary in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of our Terms of Service, or as otherwise required by law. We may also provide aggregated, non-personal, summary or group statistics about our customers, sales, traffic patterns, and related Site information to reputable third-party vendors, but these statistics will include no personally identifying information.

  %h2 Children's Personal Information
  %p 
    The Service and Site are not intended for, nor do we knowingly collect any personally identifiable information from children under the age of 13.

  %h2 Protection of Information
  %p 
    We maintain reasonable security measures to protect your information from loss, destruction, misuse, unauthorized access or disclosure. These technologies help ensure that your data is safe, secure, and only available to you and to those you provided authorized access. However, no data transmission over the Internet or information storage technology can be guaranteed to be 100% secure.

  %h2 Changes to Privacy Policy
  %p 
    We may update this policy from time to time. you can review the most current version of this privacy policy at any time at http://www.nafasi.co/privacy. Your continued use of the Site or Service constitutes your agreement to be bound by such changes to the privacy policy. Your only remedy, if you do not accept the terms of this privacy policy, is to discontinue use of the Site and Service.

  %h2 Business Transactions.
  %p 
    We may assign or transfer this privacy policy, and your user account and related information and data, to any person or entity that acquires or is merged with our company.

  %h2 Terms of Service.
  %p 
    When you access and use the Service, you are subject to the
    = link_to 'Nafasi Terms of Service.', terms_path

  %h2 Contact Us
  %p 
    If you have questions regarding this privacy policy or about our security practices, please contact us by email at
    = mail_to 'support@nafasi.co', 'support@nafasi.co.'