.policy
  %h1 Terms of Service

  %h2 The gist:
  %p 
    We (the folks at CATALYSTIC™) run a business modeling web application (the “Service”) called Nafasi.co (the “Site”) and would love for you to use it. Our basic service is free, and we offer paid upgrades for more team members on your account. We claim no intellectual property rights over the information, data, and other files you provide to the Service.

  %h2 Terms of Service:
  %p 
    The following terms and conditions govern all use of the Nafasi.co website and all content, services and products available at or through the website. The Site is owned and operated by CATALYSTIC™. (“CATALYSTIC”). The Site is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, CATALYSTIC’s Privacy Policy ) and procedures that may be published from time to time on this Site by CATALYSTIC (collectively, the “Agreement”). 

  %p 
    Please read this Agreement carefully before accessing or using the Site. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. The Site is available only to individuals who are at least 13 years old.

  %h2 General Terms
  %p 
    Subject to the terms and conditions of these TOS, You may access and use the Service only for Your internal business purposes as contemplated by these TOS. You shall not (i) license, sublicense, sell, resell, rent, lease, transfer, assign, distribute, time share or otherwise commercially exploit or make the Service available to any third party, other than as expressly permitted by these TOS; (ii) use the Service to process data on behalf of any third party unless You are contractually allowed to do so, or (iii) use the Service in any unlawful manner or in any manner that interferes with or disrupts the integrity or performance of the Service and its components.

  %h2 Your Account and Site
  %p 
    If you sign-up on the Site, you are responsible for maintaining the security of your account, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the account. You are responsible for all information, data, text, messages or other materials that You post or otherwise transmit via the Service. You agree and acknowledge that Your login may only be used by one (1) person - a single login shared by multiple people is not permitted. You may create separate logins for as many people as Your plan allows.

  %h2 Content Ownership
  %p 
    Content provided by Users, whether they are account owners, or team members, is called “User Content”. We claim no intellectual property rights over the material you provide to the Service. Your profile and materials uploaded remain yours. If your employer has rights to intellectual property you create, you have either (i) received permission from your employer to post or make available the Content, or (ii) secured from your employer a waiver as to all rights in or to the Content.

  %h2 Responsibility of Team Members
  %p 
    You are responsible for all Content posted and activity that occurs under your account even when Content is posted by others who have accounts under your account.

  %h2 Payment and Renewal
  %p 
    General Terms. Optional paid services such as more team members are available on the Site (any such services, an “Upgrade”). By selecting an Upgrade you agree to pay CATALYSTIC the monthly fee indicated for that service. Payments will be charged on a pre-pay basis on the day you sign up for an Upgrade and will cover the use of that service for a monthly or annual subscription period as indicated. Upgrade fees are not refundable.

  %p 
    Automatic Renewal. Unless you notify CATALYSTIC before the end of the applicable subscription period that you want to cancel an Upgrade, your Upgrade subscription will automatically renew and you authorize us to collect the then-applicable monthly subscription fee for such Upgrade (as well as any taxes) using any credit card. Upgrades can be canceled at any time in the Upgrades section of your site’s dashboard.

  %h2 Changes
  %p 
    CATALYSTIC reserves the right, at its sole discretion, to modify or replace any part of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your continued use of or access to the Site following the posting of any changes to this Agreement constitutes acceptance of those changes. CATALYSTIC may also, in the future, offer new services and/or features through the Site (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.

  %h2 Termination
  %p 
    CATALYSTIC may terminate your access to all or any part of the Site at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your Nafasi.co account (if you have one), you may simply discontinue using the Site.

  %h2 Disclaimer of Warranties
  %p 
    The Site is provided “as is”. CATALYSTIC and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither CATALYSTIC nor its suppliers and licensors, makes any warranty that the Site will be error free or that access thereto will be continuous or uninterrupted. If you’re actually reading this, here’s a treat. You understand that you download from, or otherwise obtain content or services through, the Site at your own discretion and risk.

  %h2 General Representation and Warranty
  %p 
    You represent and warrant that (i) your use of the Site will be in strict accordance with the CATALYSTIC Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of the Site will not infringe or misappropriate the intellectual property rights of any third party.

  %h2 Indemnification
  %p 
    You agree to indemnify and hold harmless CATALYSTIC from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Site, including but not limited to your violation of this Agreement.

  %h2 Miscellaneous
  %p 
    This Agreement constitutes the entire agreement between CATALYSTIC and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of CATALYSTIC, or by the posting by CATALYSTIC of a revised version. 

  %p 
    CATALYSTIC does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected. 

  %p 
    You expressly understand and agree that CATALYSTIC shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if CATALYSTIC has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.
  %p 
    Questions about the Terms of Service should be sent to
    = mail_to 'support@catalysticllc.com', 'support@catalysticllc.com.'