
= f.input :profession
= f.input :linkedin, label: 'LinkedIn public profile (ex: "http://www.linkedin.com/in/myname"'
= f.input :location

= button_tag(type: 'submit', class: "btn btn-primary btn-lg") do
  %i.fa.fa-check-circle-o
  Save Profile